.green_button{
    text-decoration: none;
    color: inherit;
    background: #22C55E;
    padding: 0.5rem 0.7rem;
    transition: 0.15s ease-in;
}

.green_button:hover{
    background: #1a9c4a;

}

.green_button:focus{
    outline: 4px solid #2bec7277;
    transition: none;
}